@charset "utf-8";
/* CSS Document */


.part{
	width:100%;
	height:30px;
	margin-top:20px;
}
.part_name{
	width:100px;
	height:30px;
	float:left;
	line-height:35px;
	text-align:right;
}

.part_input{
	width:500px;
	height:30px;
	float:left;
}

.edit_text{
	width:100%;
	height:400px;
	float:left;
	margin-top:20px;
	border:#999 1px solid;
}