@charset "utf-8";
/* CSS Document */

.bottom{
	width:100%;
	height:90px;
	float:left;
	z-index:-1;
}

.bottom_line{
	width:100%;
	height:30px;
	margin-top:20px;
	float:left;
	text-align:center;
	line-height:30px;
}