@charset "utf-8";
/* CSS Document */

.top{
	width:100%;
	height:30px;
	margin-top:0;
	background:#333;
	float:left;
	
}

.top_main{
	width:1024px;
	height:100%;
	margin:0px auto;
}
.top_logo{
	width:100px;
	height:100%;
	float:left;
	font-size:25px;
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:left;
	line-height:30px;
}

.top_nav_left{
	min-width:400px;
	height:30px;
	float:left;
	margin-top:0px;
	margin-right:0px;
	line-height:30px;
	color:#fff;
	text-align:left;
}
.top_nav_right{
	min-width:504px;
	height:30px;
	float:left;
	margin-top:0px;
	margin-right:0px;
	line-height:30px;
	color:#fff;
	text-align:left;
}
.top_nav_link{
	text-decoration:none;
	color:#ccc;
}
.top_nav_link:hover{
	color:#fff;
}

.select{
	border:0;
	 width:100px; 
	 height:20px;
	  font-size:13px;
	  float:left;
	   color:#FFF;
	    background:#333;
}

.select option{
	width:100px;
	 height:25px;
	  font-size:13px; 
	border:0;
}
.select option:hover{
	background:#999;
}

.top_school{
	width:60px; height:30px; font-family:'微软雅黑'; color:#FFF; background:#333; border:0; text-decoration:none;
}
.top_school:hover{
	color:#fff;
	text-decoration:underline;
}