<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


	<description>Email配置</description>
<!-- 扫描me.weidaxue.food.dao包下所有标注@Repository的DAO组件 -->
    <context:component-scan base-package="me.second.hand.util.emal"/>
	

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="username" value="ycxxww@gmail.com" />
		<property name="password" value="yinshang" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<!-- 使用gmail smtp server的必须参数 -->
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- 文本邮件服务类    可以在内部set-->
	<bean id="simpleMailService" class="me.second.hand.util.emal.SimpleMailService">
		<property name="mailSender" ref="mailSender" />
		<property name="textTemplate">
			<value><![CDATA[
					用戶%1$s在%2$tF被修改.
					请点击一下连接激活帐号
					]]>
			</value>
		</property>
	</bean>

	<!-- MIME邮件服务类 -->
	<bean id="mimeMailService" class="me.second.hand.util.emal.MimeMailService">
		<property name="mailSender" ref="mailSender" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration"/>
	</bean>

	<!-- 用于生成HTML邮件内容的Freemarker配置 -->
	<bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:/email" />
	</bean>
	
	

</beans>